@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>
    <font color="#006633">
        Jimbo Helms, (Born 3/20/58 in Darlignton SC) began his musical journey at the young age of five. After attending two years at the Unniversity of South Carolina,
        Jimbo realized that his passion for music and craftsmanship was calling his name. In his mid-twenties he began finely tuning his skills and knowledge of building
        his own stringed instruments and by the mid-1980's he had become an experienced and creative luthier who was hungry to share his talents with the rest of the
        Country. Along with his wife, Barabara, and thier two sons, Jimbo's Music Wholesale and Repair was born in 1986. Now offering a wide range of products and services,
        Jimbo's Wholsale Music has won the hearts of many local and mainstream country, pop and rock artists across the country. So please feel free to contact us,
        and come make some noise in our small town!
    </font>
    <br>



    <img src="https://manofmany.com/wp-content/uploads/2018/09/13-Best-Rare-and-Vintage-Guitar-Stores-in-Melbourne-Found-Sound.jpg" />
    <br>



    <img src="https://res-2.cloudinary.com/dostuff-media/image/upload//w_1200,q_75,c_limit,f_auto/v1499983059/page-image-9552-99d39ce1-8980-4d55-9282-bc15fdee5f3f.png" />
</p>

