@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<address>
    3695  Kessla Way<br />
    Darlington, SC 29532<br />
    <abbr title="Phone">P:</abbr>
    843.393.7697
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@Jimbo22.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@Jimbo22.com</a>
</address>
