@{
    ViewData["Title"] = "Privacy Policy";
}
<h1><font color="#17a2b8">@ViewData["Title"]</font></h1>

<p>Congrats, you have found the hIdDeN mEsSaGe------ here is a cookie:
    <img src="https://static6.depositphotos.com/1068095/581/i/950/depositphotos_5816061-stock-photo-chocolate-chip-cookie.jpg" />
</p>
