@{
    ViewData["Title"] = "Services and Repairs";
}

    <h2><font color="#17a2b8">@ViewData["Title"]</font></h2>
    <p>
        <h6>Stringed Instrument Repairs</h6>
        <div class="container" style="margin-top:20px;">
            <div class="row">
                <div class="col-8">Guitar/Bass Maintenance (Restringing & Intonation)</div>
                <div class="col-4">$30</div>
                <div class="col-8">Guitar/Bass Premium Cleaning and Setup</div>
                <div class="col-4">$65</div>
                <div class="col-8">Fret Repair</div>
                <div class="col-4">$20-$100</div>
                <div class="col-8">Electronics Upgrades and Customizations</div>
                <div class="col-4">$60-$120</div>
                <div class="col-8">Hardware Customization and Cosmetic Enhancements</div>
                <div class="col-4">$20-$100</div>
                <div class="col-8">Guitar/Bass Structural Repair</div>
                <div class="col-4">(Call for an estimate)</div>
                <div class="col-8">Violin Soundpost/Fingerboard Reset</div>
                <div class="col-4">$25-$80</div>
                <div class="col-8">Bow Rehair</div>
                <div class="col-4">$70</div>
            </div>
        </div>
        <br>
        <h6>Brass and Woodwind Repair/Maintenance</h6>
        <div class="container" style="margin-top:20px;">
            <div class="row">
                <div class="col-8">Elite Cleaning/Maintenance for all brass instrument repairs</div>
                <div class="col-4">Base Price: $110</div>
                <div class="col-8">Clean, Oil, Regulation/Adjust - Clarinet/Sax/Flute</div>
                <div class="col-4">$100-$120</div>
                <div class="col-8">Repad/Overhaul - Clarinet/Sax/Flute</div>
                <div class="col-4">$200-$300</div>
            </div>
        </div>
        <br>
        <h6>Percussion Repair/Maintenance</h6>
        <div class="container" style="margin-top:20px;">
            <div class="row">
                <div class="col-8">Snare and Tom Head Change</div>
                <div class="col-4">$300</div>
                <div class="col-8">Snare Side Head Change</div>
                <div class="col-4">$100</div>
                <div class="col-8">Bass Drum Head Change</div>
                <div class="col-4">$200</div>
                <div class="col-8">Timpani Head Change</div>
                <div class="col-4">$200</div>
                <div class="col-8">Snare Wire Replacement</div>
                <div class="col-4">$60</div>
                <div class="col-8">Rewire & Realign Chime Tubes</div>
                <div class="col-4">$200</div>
            </div>
        </div>
    </p>
